<div class="p-8 bg-surface min-h-screen">
  <div class="p-16">
    <div class="flex flex-col items-center">
      <h1 class="text-center">Book Catalogue 📚☕️</h1>
      <h5 class="pt-8 max-w-3xl text-center text-brand">Peruse our wide variety of award winning s̸̛͙h̸̤̙̎̄ĕ̷͔͉l̸͈̈́f̶͓͔̓́ ̷̛̞̱͆h̸̹̩̾e̶̹̽̈l̸̰͖̽p̶͉̄ books, and add them to your personal ReadingList™ to start improving your life today!</h5>
      <h2 class="pt-12">🌱</h2>
    </div>
  <div class="pt-22 grid grid-cols-[repeat(auto-fit,minmax(16rem,1fr))] gap-x-14 gap-y-24 grid-flow-row max-w-full mb-14 @container">
      @if (isLoading()) {
        <span class="inline-flex items-center justify-center gap-2 pt-1">
          <svg class="animate-spin h-4 w-4" viewBox="0 0 24 24" fill="none">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"/>
          </svg>
          Loading books...
        </span>
      } @else if (errorMsg()) {
        <p>{{ errorMsg() }}</p>
      } @else {
        @for (book of books(); track book.id) {
          <app-book-card [book]="book" />
        }
      }
    </div>
  </div>
</div>


