

<!-- Found a fun template at https://hyperui.dev/components/marketing/cards/ -->
<a [routerLink]="['/book-details', book().id]" class="group">
  <div
    class="relative overflow-hidden bg-sage shadow-md transform transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
  >
    <!-- Saved indicator -->
    @if (true) {
      <div class="absolute top-0 right-0 w-20 h-20 bg-linear-to-br from-brand to-brand-dark [clip-path:polygon(100%_0,100%_100%,0_0)] drop-shadow-md shadow-md">
        <svg viewBox="0 0 26 26" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="absolute top-3 right-3 w-5 h-5 drop-shadow-sm">
          <path d="M20 6 9 17l-5-5" />
        </svg>
      </div>
    }

    <!-- No hover -->
    <div
      class="flex h-full flex-col transition-opacity shadow-md"
    >
        <img
            [alt]="book().title"
            [src]="book().coverImg"
            loading="lazy"
            class="w-full min-h-0 flex-1 object-cover"
        />
        <div class="flex items-center px-3 py-3 @[39.5rem]:min-h-28">
            <h4 class="text-xl font-medium line-clamp-3">{{book().title}}</h4>
        </div>
    </div>

    <!-- Hover -->
    <div
      class="absolute inset-0 bg-sage px-4 py-4 opacity-0 transition-opacity group-hover:opacity-100"
    >
      <h3 class="mt-4 text-xl font-medium">{{book().title}}</h3>

      <p class="mt-4 text-sm sm:text-base">
        {{book().blurb}}
      </p>

      <p class="mt-8 font-bold">Read more</p>
    </div>
  </div>
</a>