

<!-- Found a fun template at https://hyperui.dev/components/marketing/cards/ -->
<a class="group flex flex-col flex-1">
  <div
    class="relative overflow-hidden bg-paper shadow-md flex flex-col flex-1 transform transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
  >
    <!-- Saved indicator -->
      @if (inReadingList()) {
        <div class="absolute top-0 right-0 w-20 h-20 bg-linear-to-br from-brand to-brand-dark [clip-path:polygon(100%_0,100%_100%,0_0)] drop-shadow-md shadow-md">
          <svg viewBox="0 0 26 26" fill="none" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="absolute top-3 right-3 w-5 h-5 drop-shadow-sm">
            <path d="M20 6 9 17l-5-5" />
          </svg>
        </div>
      }
      <!-- No hover -->
      <div
        class="flex flex-1 flex-col transition-opacity"
      >
          <img
              [alt]="book().title"
              [src]="book().coverImg"
              [routerLink]="['/book-details', book().id]"
              loading="lazy"
              class="w-full object-cover"
          />
          <div class="flex flex-1 flex-col px-4 pt-4">
              <h4 class="text-xl font-medium line-clamp-3">{{book().title}}</h4>
              <p class="pt-2 text-sm text-gray-500 italic line-clamp-1">by {{book().author}}</p>
          </div>
      </div>

      <!-- Hover -->
      <div class="absolute flex flex-col inset-0 bg-paper px-4 py-4 opacity-0 transition-opacity 
      group-hover:opacity-100">
          @if (isLoggedIn()) {
            <h3 [routerLink]="['/book-details', book().id]" class="mt-4 text-xl font-medium hover:underline">{{book().title}}</h3>
          } @else {
            <h3 class="mt-4 text-xl font-medium">{{book().title}}</h3>
          }
        <p class="mt-2 text-lg text-gray-500 text-bold italic">by {{book().author}}</p>
        <p class="mt-5 mb-12 min-h-0 flex-1 overflow-hidden text-sm sm:text-base 
        mask-[linear-gradient(to_bottom,black_30%,transparent)]">
          {{book().blurb}}
        </p>
      </div>
      @if (isLoggedIn()) {
        <div class="px-4 py-5 shrink-0 flex justify-between relative items-center">
            <a [routerLink]="['/book-details', book().id]" class="relative font-bold text-md 
            after:absolute after:inset-x-0 after:-bottom-0.5 after:h-0.5 after:bg-current
            after:origin-right after:scale-x-0 after:transition-transform after:duration-250
            hover:after:origin-left hover:after:scale-x-100">
              Read more</a>
              
            <app-collection-button [book]="book()" />
            </div>
          }
      @else {
          <div class="px-4 py-5 shrink-0">
              <a [routerLink]="['/login']" class="text-center relative font-bold text-md 
            after:absolute after:inset-x-0 after:-bottom-0.5 after:h-0.5 after:bg-current
            after:origin-right after:scale-x-0 after:transition-transform after:duration-250
            hover:after:origin-left hover:after:scale-x-100">
              Log in to read more!</a>
          </div>
      }
  </div>
</a>
